[init]
connection_string=mongodb://cmcdb:ncDbCMC@ec2-54-90-90-214.compute-1.amazonaws.com/marketing_platform

[queries]
query_1=tasks.find_one()

[load]
concurrent=10
runs_per_thread=10
explain_each_query=false
